CMC_API_KEY=*** ## example: f83625da-4047-4556-8567-afeea31e9754
NEXT_PUBLIC_SITE_URL=localhost:3000
NEXT_PUBLIC_BLOCKFROST_KEY_MAINNET=""
NEXT_PUBLIC_BLOCKFROST_KEY_PREPROD=""
NEXT_PUBLIC_VERCEL_ENV=development
NODE_AUTH_TOKEN=YOUR_GITHUB_NODE_AUTH_TOKEN_HERE
NEXT_PUBLIC_REOWN_ID=29d5437dba48a841d85dfb73e6cc38ad
YIELD_PROVIDER_PUBKEY=YOUR_YIELD_PROVIDER_PUBKEY_HERE
YIELD_PROVIDER_ADDRESS=YOUR_YIELD_PROVIDER_ADDRESS_HERE
NEXT_PUBLIC_TEST_PROVIDER_ID=YOUR_TEST_PROVIDER_ID_HERE