.beam-1 {
  content: "";
  position: absolute;
  left: 0;
  top: -100px; /* Match the width of the triangle */
  width: 100px; /* Match the width of the triangle */
  height: 100px; /* Match the height of the triangle */
  background: linear-gradient(
    to bottom,
    rgba(255, 183, 11, 1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  ); /* Gradient from orange to black */
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%); /* Triangle shape */
  z-index: -1;
  opacity: 70%;
}
